<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511322936455-b3iih23hddvhs7opj9jr12sbjtb9j1sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511322936455-b3iih23hddvhs7opj9jr12sbjtb9j1sh</string>
	<key>API_KEY</key>
	<string>AIzaSyAjXd0oGp2TvzsK00N0ElmROsDs_0oGSU0</string>
	<key>GCM_SENDER_ID</key>
	<string>511322936455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prototype</string>
	<key>PROJECT_ID</key>
	<string>fir-summative-project</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-summative-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511322936455:ios:85363fc2892a3653c9d422</string>
</dict>
</plist>